@import "tailwindcss";

:root {
  --background: rgb(233 233 233);
  --foreground: rgb(237 76 34);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(233 233 233);
    --foreground: rgb(237 76 34);
    --text: rgb(30 28 27);
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: white;
  background-color: var(--foreground);
}
